<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
	integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
	crossorigin="anonymous">
<title>Crear Tarea</title>
</head>
<body>
	<div th:replace="layout :: header" class="text-center"></div>
	<div class="container">
		<form action="#" method="post" class="form-narrow"
			th:action="@{/createNewTask}" th:object="${taskForm}"
			th:fragment="taskForm">
			<p class="lead text-center">
				<b>Nueva Tarea</b>
			</p>
			<br>
			<div class="container">
				<span class="container">Nombre de la tarea</span> <span
					class="container"> <input type="text" class="form-control"
					id="name" placeholder="nombre tarea" th:field="*{name}" />
				</span>
				<span class="help-block text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name can't be empty</span>
			</div>
			<div class="container">
				<span class="container">Descripcion de la tarea</span> <span
					class="container"> <input type="text" class="form-control"
					id="description" placeholder="descripcion tarea"
					th:field="*{description}" />
				</span>
			</div>
			<div class="container">
				<span class="container">Fecha limite de la tarea</span> <span
					class="container"> <input type="date" class="form-control"
					id="limitDate" th:field="*{limitDate}" />
				</span>
			</div>
			<div class="container">
				<div class="container">Realizada</div> <span class="container text-left">
					<input type="checkbox" class="form-control" id="done"
					th:field="*{done}" />
				</span>
			</div>
			<div class="container">
				<button type="submit" id="create" class="btn btn-success">Crear
					Tarea</button>
			</div>

		</form>
	</div>
	<div th:replace="layout :: footer" class="text-center"></div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
		integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
		crossorigin="anonymous"></script>

</body>
</html>